body {
  background-color:  #fafafa;

}
header{
  box-shadow: 1px 2px 1px 1px rgba(1,1,1,0.05);
  background-color: white;

}
.card-img-top{
  height: 10rem;

}

.row.no-pad > [class*='col-'] {
  padding-right:2.5rem;
  padding-left:2.3rem;
  padding-top:2.5rem;
  padding-bottom:2.3rem;
}
.cont{
  height: 90%;
}
.card{
  height:100%;
  min-height: 21.7rem;
  max-width: 20rem;
}
.img-fluid{
  width: 2rem;
  height: 1rem;
}
.main{

}
.search-icon{
  max-height:15px;
  max-width: 15px;
}
.search{

}
.search-div{
  box-shadow: 1px 1px 1px 1px rgba(1,1,1,0.04);
  min-height: 3.2rem;
  max-width: 31rem;
  width: 100%;

}
.dropdown{
  min-height: 3.2rem;
  min-width: 5rem;
}
.btn {
  min-height: 2rem;
  box-shadow: 1px 1px 1px 1px rgba(1,1,1,0.04);
  min-width: 5rem;
  padding-right: 5rem;
}
.dropdown-menu{
  min-height: 3.2rem;
  min-width: 14rem;
}

.flag{
  min-height: 22rem;
  min-width: 35rem;

}

.back-btn{
  border: white;
  box-shadow: 1px 1px 1px 1px rgba(1,1,1,0.04);
}

.card-md{
  min-height: 20rem;

}
.country-btn{
  max-height: 0.2rem;
  width: 0.5rem;
  border: white;
  box-shadow: 1px 1px 1px 1px rgba(1,1,1,0.04);
}
.btn-secondary{
  min-height: 3rem;
}
